/* Inicializacion del html */

html,
body,
ul,
a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}


/* Imagen de fondo que cubre la pantalla sin sobresalir ni duplicarse */

body {
    background-image: url("../images/mario_party_superstars_back.jpg");
    background-size: cover;
}


/* Header */


/* Botón del menú desplegable */

#header button {
    width: 50px;
    height: 50px;
    background-image: url("../images/button_menu.png");
    background-size: cover;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
    color: transparent;
    border-radius: 20%;
    transition: left 1s ease;
}


/* Titulo de sitio */

#header h1 {
    width: 500;
    height: 60;
    position: absolute;
    top: 10%;
    right: 8%;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 25px;
    color: rgb(255, 75, 152);
}


/* Subtítulo del sitio */

#header h1 span {
    position: absolute;
    top: 200%;
    right: 16%;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 25px;
    color: rgb(255, 75, 152);
}


/* Pequeño mensaje de la izquierda */

#header p {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 25px;
    color: rgb(255, 75, 152);
}


/* Menú vertical con efecto velo */

#index ul {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 100px;
    display: table;
    table-layout: fixed;
}


/* Celdas del menú vertical */

#index ul li {
    width: 20%;
    height: 20%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: white;
    overflow: hidden;
}


/* Contenido de cada celda del menú vertical */

#index ul li div a {
    font-size: 30px;
    position: relative;
    padding: 30px;
    color: black;
    background-color: transparent;
    transition: all 1s ease;
}


/* Velo de las celdas del menú vertical */

.velo {
    width: 100%;
    height: 100%;
    display: table-cell;
    background-color: rgb(255, 75, 152);
    position: absolute;
    top: 60px;
    transition: all 1s ease;
}


/* Despliegue del velo */

#index ul li:hover .velo {
    top: 0px;
}

#index ul li:hover a {
    color: white;
}


/* Primer y ultimo elemento de la lista usados para generar ese espacio de los laterales */

#index ul li:first-child {
    width: 10%;
    background-color: transparent;
}

#index ul li:last-child {
    width: 10%;
    background-color: transparent;
}


/* Menú desplegable */

#aside {
    height: 100%;
    width: 500px;
    position: absolute;
    left: -500px;
    background-color: black;
    transition: left 1s ease;
}


/* Botones de subir y bajar */

#aside div button:nth-child(1) {
    height: 70px;
    width: 70px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: transparent;
    border: none;
    position: relative;
    top: 40px;
    left: 15px;
    color: transparent;
}

#aside div button:nth-child(2) {
    height: 76px;
    width: 70px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: transparent;
    border: none;
    position: relative;
    top: 40px;
    left: 340px;
    transform: rotate(180deg);
    color: transparent;
}

#aside div button:nth-child(1):hover {
    background-color: rgb(255, 75, 152);
    border-radius: 20px;
}

#aside div button:nth-child(2):hover {
    background-color: rgb(255, 75, 152);
    border-radius: 20px;
}


/* Contenido del menu desplegable que sube y baja */

#content {
    height: 100%;
    width: 500px;
    position: fixed;
    background-image: url("../images/games.png");
    background-position-y: 0px;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 1s ease;
}